  <nav class="navbar sticky-top" aria-label="breadcrumb">
    <div class="container">


  <div class="d-flex mx-2 p-2 text-light rounded-5" id="date">
    {{currentDay}} / {{currentMonth}} / {{currentYear}}
  </div>



    <ol class="breadcrumb">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item"><a href="#" class="text-dark"><i class="bi bi-door-open"></i> Sigh Out</a></li>
    </ol>
 

      <!-- <button class="btn gbg rounded-5"><i class="bi bi-door-open"></i> Sigh Out</button> -->
    </div>
  </nav>